.CardImg{
    width: 320px;
    border-radius: 10px;
    height: 180px;
    padding: 4px;
}
.cardStyle{
    /* width: 350px;  */
    /* height: 100%; */
    border: 1px solid #d3d3d3ce !important;
    margin-top: 25px;
}


.card-title {
    font-size: 16px !important; /* Example font size */
    /* Add more styles as needed */
  }
.desc{
  font-size: 12px;
}
.tag {
	display: inline-block;
  
  
  	margin-right: 7px;
	
	background-color: rgba(46, 195, 183, 0);
	
	
	border-radius: 10px;

	/* This makes room for the triangle */
	margin-left: 0px;
	
	position: relative;
	
	color: white;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 30px;
  border: 1px solid #03fd4e;
	padding: 1px 8px 1px 8px;
}


  .badge-container {
    position: absolute;
    top: 15px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure it's above the image */
  }
  .price{
    border-radius: 20px;
    /* margin-right: 7px; */
    font-size: 13px !important;
  }

  .buybutton{
    border-radius: 15px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }
.bookbutton{
  border-radius: 15px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    
}

  